.project
*/.project
/*.iml
.idea/
*.DS_Store
.vscode
deploy/vagrant/.vagrant/*
src/template/.vagrant/*
src/template/output
src/output/.kubeadmin_init
src/output/cluster-admin-token
src/output/*.yaml
*.log
deploy/aws/**/.terraform*
deploy/aws/**/*.log
*.tfstate
deploy/aws/**/*.backup
.localenv
