.project
*/.project
/*.iml
.idea/
*.DS_Store
.vscode
.vagrant/*
src/template/.vagrant/*
src/template/output
src/output/.kubeadmin_init
src/output/cluster-admin-token
src/output/*.yaml
*.log
src/aws/.terraform*
src/aws/*.log
src/aws/*.tfstate
src/aws/*.backup

