.project
*/.project
/*.iml
.idea/
*.DS_Store
.vscode
deploy/vagrant/.vagrant/*
src/template/.vagrant/*
src/template/output
output/.kubeadmin_init
output/cluster-admin-token
output/*.yaml
*.log
deploy/aws/**/.terraform*
deploy/aws/**/*.log
*.tfstate
deploy/aws/**/*.backup
deploy/aws/**/cluster*
.localenv
