# https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2

apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
bootstrapTokens:
- token: "abcdef.0123456789abcdef"
  description: "kubeadm bootstrap token"
  ttl: "120h"
localAPIEndpoint:
  advertiseAddress: {{CONTROL_PLANE_IP}}
  bindPort: 6443
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
networking:
  dnsDomain: cluster.local
  podSubnet: 10.244.0.0/16
  serviceSubnet: 10.96.0.0/12
apiServer:
  certSANs:
  - {{CONTROL_PLANE_PUBLIC_DNS}}
